@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-slide-height {
    height: 60vh !important;
  }
.h-70{
    height: 60vh;
}
.position {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease;
}

.position.selected {
  background-color: #f8fafc; /* Add your desired background color for selected positions */
}

.folder-icon {
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

/* index.css */
a {
  transition: border-b 0.2s;
}

a:hover {
  border-b: 2px solid rgb(224, 148, 5);
}
  
  
  
  
  